ion-footer {
    ion-button{
        --border-radius: 50px
    }
    ion-textarea {
        border: 1px solid var(--ion-color-medium);
        border-radius: 20px;
        margin: 0.5vh 1vh 0.5vh 0;
    }
}

/* chat.page.scss */
:host-context(.keyboard-is-open) {
    ion-content {
      height: 100vh !important; 
    }
  
    ion-footer {
      position: fixed;
      bottom: env(safe-area-inset-bottom, 0) !important; 
      left: 0;
      right: 0;
      z-index: 11;
    }
  }
  